In [ ]:
#Building Blocks
year = '2019'
url_link = "https://www.pro-football-reference.com/years/{}/rushing.htm"

#Combining the URL + year Strings together
url = url_link.format(year)
url

'https://www.pro-football-reference.com/years/2019/rushing.htm'

In [ ]:
years = [2014,2015,2016,2017,2018,2019,2020,2021]
url_link = 'https://www.pro-football-reference.com/years/{}/rushing.htm'

for year in years:
  url = url_link.format(year)
  print(url)

https://www.pro-football-reference.com/years/2014/rushing.htm
https://www.pro-football-reference.com/years/2015/rushing.htm
https://www.pro-football-reference.com/years/2016/rushing.htm
https://www.pro-football-reference.com/years/2017/rushing.htm
https://www.pro-football-reference.com/years/2018/rushing.htm
https://www.pro-football-reference.com/years/2019/rushing.htm
https://www.pro-football-reference.com/years/2020/rushing.htm
https://www.pro-football-reference.com/years/2021/rushing.htm

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_html(url, header = 0)
df

[    Unnamed: 0         Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Games  \
 0           Rk             Player         Tm        Age        Pos     G
 1            1  Jonathan Taylor*+        IND         22         RB    17
 2            2      Najee Harris*        PIT         23         RB    17
 3            3         Joe Mixon*        CIN         25         RB    16
 4            4     Antonio Gibson        WAS         23         RB    16
 ..         ...                ...        ...        ...        ...   ...
 379        367       Quez Watkins        PHI         23         WR    17
 380        368         Derek Watt        PIT         29         fb    17
 381        369   Preston Williams        MIA         24         wr     8
 382        370     Andrew Wingard        JAX         25          S    15
 383        371  Olamide Zaccheaus        ATL         24         wr    17

     Games.1 Rushing Rushing.1 Rushing.2 Rushing.3 Rushing.4 Rushing.5  \
 0        GS     Att       Yds        TD        1D       Lng       Y/A
 1        17     332      1811        18       107        83       5.5
 2        17     307      1200         7        62        37       3.9
 3        16     292      1205        13        60        32       4.1
 4        14     258      1037         7        65        27       4.0
 ..      ...     ...       ...       ...       ...       ...       ...
 379      12       1         3         0         0         3       3.0
 380       4       1         1         0         1         1       1.0
 381       3       1         7         0         0         7       7.0
 382      15       1         4         0         1         4       4.0
 383       8       1         2         0         1         2       2.0

     Rushing.6 Unnamed: 14
 0         Y/G         Fmb
 1       106.5           4
 2        70.6           0
 3        75.3           2
 4        64.8           6
 ..        ...         ...
 379       0.2           0
 380       0.1           0
 381       0.9           0
 382       0.3           0
 383       0.1           0

 [384 rows x 15 columns]]

In [ ]:
len(df)

1

In [ ]:
df[0]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Games,Games.1,Rushing,Rushing.1,Rushing.2,Rushing.3,Rushing.4,Rushing.5,Rushing.6,Unnamed: 14
0,Rk,Player,Tm,Age,Pos,G,GS,Att,Yds,TD,1D,Lng,Y/A,Y/G,Fmb
1,1,Jonathan Taylor*+,IND,22,RB,17,17,332,1811,18,107,83,5.5,106.5,4
2,2,Najee Harris*,PIT,23,RB,17,17,307,1200,7,62,37,3.9,70.6,0
3,3,Joe Mixon*,CIN,25,RB,16,16,292,1205,13,60,32,4.1,75.3,2
4,4,Antonio Gibson,WAS,23,RB,16,14,258,1037,7,65,27,4.0,64.8,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,367,Quez Watkins,PHI,23,WR,17,12,1,3,0,0,3,3.0,0.2,0
380,368,Derek Watt,PIT,29,fb,17,4,1,1,0,1,1,1.0,0.1,0
381,369,Preston Williams,MIA,24,wr,8,3,1,7,0,0,7,7.0,0.9,0
382,370,Andrew Wingard,JAX,25,S,15,15,1,4,0,1,4,4.0,0.3,0
383,371,Olamide Zaccheaus,ATL,24,wr,17,8,1,2,0,1,2,2.0,0.1,0

In [ ]:
df2019 = df[0]

In [ ]:
df2019[df2019.Games == 'G']

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Games,Games.1,Rushing,Rushing.1,Rushing.2,Rushing.3,Rushing.4,Rushing.5,Rushing.6,Unnamed: 14
0,Rk,Player,Tm,Age,Pos,G,GS,Att,Yds,TD,1D,Lng,Y/A,Y/G,Fmb
30,Rk,Player,Tm,Age,Pos,G,GS,Att,Yds,TD,1D,Lng,Y/A,Y/G,Fmb
61,Rk,Player,Tm,Age,Pos,G,GS,Att,Yds,TD,1D,Lng,Y/A,Y/G,Fmb
92,Rk,Player,Tm,Age,Pos,G,GS,Att,Yds,TD,1D,Lng,Y/A,Y/G,Fmb
123,Rk,Player,Tm,Age,Pos,G,GS,Att,Yds,TD,1D,Lng,Y/A,Y/G,Fmb
154,Rk,Player,Tm,Age,Pos,G,GS,Att,Yds,TD,1D,Lng,Y/A,Y/G,Fmb
185,Rk,Player,Tm,Age,Pos,G,GS,Att,Yds,TD,1D,Lng,Y/A,Y/G,Fmb
216,Rk,Player,Tm,Age,Pos,G,GS,Att,Yds,TD,1D,Lng,Y/A,Y/G,Fmb
247,Rk,Player,Tm,Age,Pos,G,GS,Att,Yds,TD,1D,Lng,Y/A,Y/G,Fmb
278,Rk,Player,Tm,Age,Pos,G,GS,Att,Yds,TD,1D,Lng,Y/A,Y/G,Fmb
309,Rk,Player,Tm,Age,Pos,G,GS,Att,Yds,TD,1D,Lng,Y/A,Y/G,Fmb
340,Rk,Player,Tm,Age,Pos,G,GS,Att,Yds,TD,1D,Lng,Y/A,Y/G,Fmb
371,Rk,Player,Tm,Age,Pos,G,GS,Att,Yds,TD,1D,Lng,Y/A,Y/G,Fmb

In [ ]:
#Checking Number of tables before
df2019.shape

(384, 15)

In [ ]:
len(df2019[df2019.Games =='G'])

13

In [ ]:
df = df2019.drop(df2019[df2019.Games == 'G'].index)

In [ ]:
df.shape

(371, 15)

In [ ]:
import seaborn as sns